@{
    ViewData["Title"] = "Home Page";
}

<div class="untree_co-section pb-0" id="home-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <h1 class="heading gsap-reveal-hero mb-3">
                    <strong>
                        manil<span class="text-primary">.</span>
                        Portfolio
                    </strong>
                </h1>
                <h2 class="subheading gsap-reveal-hero mb-4">
                    A .NET developer with a holistic approach, shaping ideas into reality, Bridging back-end robustness with front-end creativity,<br />
                    <strong class="text-primary">From vision to deployment</strong>.
                </h2>
            </div>
        </div>
    </div>
</div>