
@{
    ViewData["Title"] = "Home Page";
    var url = Environment.GetEnvironmentVariable("ASPNETCORE_URLS").Split(";").First();
    var result = url;
}

<style>
    .intro-pic {
        height: 50%;
    }

    .intro-description {
        margin-top: -150px;
    }
     
    .skills-logo{
       
        height:6rem;
    }
    .svg-skills-logo{
        font-size: 5rem;
    }

</style>



@* Introduction *@
<div class="untree_co-section pb-0" id="home-section">
    <div class="container">
        <a href="@url/Admin/Home">click this</a>
        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <h1 class="heading gsap-reveal-hero mb-3">
                    <strong>
                        manil<span class="text-primary">.</span>
                        Portfolio
                    </strong>
                </h1>
                <h2 class="subheading gsap-reveal-hero mb-4">
                    A .NET developer with a holistic approach, shaping ideas into reality, Bridging back-end robustness with front-end creativity,<br />
                    <strong class="text-primary">From vision to deployment</strong>.
                </h2>
            </div>
        </div>
    </div>
</div>

@* About me section *@
<div class="untree_co-section pb-0" id="about-section">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-5 mx-auto text-center author-wrap">
                <img src="~/images/manil.jpeg"
                     alt="Image"
                     class="img-fluid rounded-circle mb-3 intro-pic" />
                <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">
                    Manil Maharjan
                </h3>
                <p class="gsap-reveal-hero">
                    .NET Developer
                </p>
            </div>
        </div>

        <div class="row justify-content-center intro-description">
            <div class="col-lg-7">
                <p class="gsap-reveal-hero">
                    <strong>Crafting Seamless Solutions from Concept to Completion</strong> <br />
                    As a dedicated .NET developer with a flair for front-end creativity,
                    I view software development as more than just writing code—it's about
                    shaping ideas into impactful solutions. With a holistic approach,
                    I focus on understanding the problem at hand, architecting robust
                    back-end systems, and ensuring a seamless user experience on the front end.
                    This end-to-end perspective fuels my curiosity and drives me to create
                    solutions that truly resonate.
                </p>

                <p class="gsap-reveal-hero">
                    <strong>Blending Precision with Innovation</strong> <br />
                    My journey in development spans the intricacies of .NET frameworks to the
                    evolving landscape of modern front-end technologies. Whether it's designing
                    efficient APIs, optimizing database queries, or adding those subtle touches
                    to enhance the user interface, I thrive on balancing functionality with aesthetics.
                    By keeping the bigger picture in mind, I aim to bridge the gap between technical
                    excellence and user-centric design.
                </p>

                <p class="gsap-reveal-hero">
                    <strong>Building More Than Software—Building Connections</strong><br />
                    Beyond the code, I value collaboration and continuous learning.
                    I believe the best solutions emerge when we bring diverse perspectives together,
                    ask the right questions, and iterate on ideas. Whether I’m working solo or as
                    part of a team, I approach each project as an opportunity to grow, innovate,
                    and leave a lasting impact.
                </p>

                <p class="gsap-reveal-hero text-center">
                    <strong>A little souvenir?</strong><br />
                    <a href="https://untree.co/"
                       target="_blank"
                       class="btn btn-outline-black">Download my resume</a>
                </p>
            </div>
        </div>
    </div>
</div>

@* Projects section *@
<div class="untree_co-section untree_co-section-4 pb-0"
     id="portfolio-section">
    <div class="container">
        <div class="relative">
            <div class="loader-portfolio-wrap">
                <div class="loader-portfolio"></div>
            </div>
        </div>
        <div id="portfolio-single-holder"></div>

        <div class="portfolio-wrapper">
            <div id="posts" class="row">
                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-1.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="1">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Obsessed Book</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_1.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-2.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="2">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Book Binding</h3>
                                <p>illustration, application</p>
                            </div>
                        </div>
                        <img src="~/images/img_2.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Fresh Fruits</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_3.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Powerful Speaker</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_4.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Wireless Headset</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_5.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-1.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="1">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Black & White Cubic</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_6.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-2.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="2">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Nike Shoe</h3>
                                <p>illustration, application</p>
                            </div>
                        </div>
                        <img src="~/images/img_7.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Old Typewriter</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_8.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Walking Man</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_9.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Progress Journal</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_10.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>The Dog</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_11.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Beautiful Woman</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_12.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-3.html"
                       class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
                       data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Book Binding</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/images/img_2.jpg"
                             class="lazyload img-fluid"
                             alt="Images" />
                    </a>
                </div>
            </div>
        </div>

        <!-- </div>
        </div> -->
    </div>
</div>



@* Services section *@
<div class="untree_co-section pb-0" id="services-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0">
                    <strong>Services</strong>
                </h2>
                <p class="gsap-reveal-hero">
                    The Big Oxmox advised her not to do so, because
                    there were thousands of bad Commas.
                </p>
                <div class="wave gsap-reveal-hero">
                    <svg>
                        <path d="M10,10 L50,100 L90,50"
                              stroke="#0389ff"></path>
                    </svg>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="service text-center">
                    <div class="gsap-reveal-hero mb-3">
                        <span class="icon-service">
                            <img src="images/svg/service-icon-7.svg"
                                 alt="Image"
                                 class="img-fluid" />
                        </span>
                    </div>
                    <h3 class="gsap-reveal-hero">Marketing</h3>
                    <p class="gsap-reveal-hero">
                        Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia,
                        there live the blind texts.
                    </p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="service text-center">
                    <div class="gsap-reveal-hero mb-3">
                        <span class="icon-service">
                            <img src="images/svg/service-icon-6.svg"
                                 alt="Image"
                                 class="img-fluid" />
                        </span>
                    </div>
                    <h3 class="gsap-reveal-hero">Photography</h3>
                    <p class="gsap-reveal-hero">
                        Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia,
                        there live the blind texts.
                    </p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="service text-center">
                    <div class="gsap-reveal-hero mb-3">
                        <span class="icon-service">
                            <img src="images/svg/service-icon-1.svg"
                                 alt="Image"
                                 class="img-fluid" />
                        </span>
                    </div>
                    <h3 class="gsap-reveal-hero">Web Design</h3>
                    <p class="gsap-reveal-hero">
                        Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia,
                        there live the blind texts.
                    </p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="service text-center">
                    <div class="gsap-reveal-hero mb-3">
                        <span class="icon-service">
                            <img src="images/svg/service-icon-8.svg"
                                 alt="Image"
                                 class="img-fluid" />
                        </span>
                    </div>
                    <h3 class="gsap-reveal-hero">App Development</h3>
                    <p class="gsap-reveal-hero">
                        Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia,
                        there live the blind texts.
                    </p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="service text-center">
                    <div class="gsap-reveal-hero mb-3">
                        <span class="icon-service">
                            <img src="images/svg/service-icon-4.svg"
                                 alt="Image"
                                 class="img-fluid" />
                        </span>
                    </div>
                    <h3 class="gsap-reveal-hero">Search Ranking</h3>
                    <p class="gsap-reveal-hero">
                        Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia,
                        there live the blind texts.
                    </p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="service text-center">
                    <div class="gsap-reveal-hero mb-3">
                        <span class="icon-service">
                            <img src="images/svg/service-icon-5.svg"
                                 alt="Image"
                                 class="img-fluid" />
                        </span>
                    </div>
                    <h3 class="gsap-reveal-hero">Branding</h3>
                    <p class="gsap-reveal-hero">
                        Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia,
                        there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@* SkillSet section*@

<div class="untree_co-section pb-0">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0">
                    <strong>My Skillset</strong>
                </h2>
                <p class="gsap-reveal-hero">
                    The Big Oxmox advised her not to do so, because
                    there were thousands of bad Commas.
                </p>
                <div class="wave gsap-reveal-hero">
                    <svg>
                        <path d="M10,10 L50,100 L90,50"
                              stroke="#0389ff"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-center">
                <p class="gsap-reveal-hero">
                    <i class="fa-brands fa-html5 svg-skills-logo" data-color="#e34f26"></i>
                    <i class="fa-brands fa-css3 svg-skills-logo" data-color="#2965f1"></i>
                    <br />
                    Web Frontend
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-center" >
                <p class="gsap-reveal-hero">
                    <i class="fa-brands fa-js svg-skills-logo" data-color="#ffc300"></i>
                    <br />
                    JS
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-center" >
                <p class="gsap-reveal-hero">
                    <i class="fa-solid fa-database svg-skills-logo" data-color="#5CA4A9"></i>
                    <br />
                    SQL
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-center mt-4">
                <p class="gsap-reveal-hero">
                    <img src="~/images/svg/NET_logo.svg"
                         alt="Image"
                         class="img-fluid skills-logo" />
                    <br />
                    .NET
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-center mt-4">
                <p class="gsap-reveal-hero">
                    <img src="~/images/svg/C_sharp.svg"
                         alt="Image"
                         class="img-fluid skills-logo" />
                    <br />
                    C#
                </p>
            </div>
        </div>
    </div>
</div>

@* Testimonial section *@
<div class="untree_co-section testimonial-wrap">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0">
                    <strong>Testimonials</strong>
                </h2>
                <p class="gsap-reveal-hero">What clients say...</p>

                <div class="wave gsap-reveal-hero">
                    <svg>
                        <path d="M10,10 L50,100 L90,50"
                              stroke="#0389ff"></path>
                    </svg>
                </div>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-delay="200">
            <div class="owl-carousel owl-3-slider">
                <div class="item">
                    <div class="testimonial-v1">
                        <img src="images/person_1.jpg"
                             alt="Image"
                             class="img-fluid" />
                        <div class="mb-4">
                            <h3>James Smith</h3>
                            <span class="caption">CEO &amp; Co-Founder</span>
                        </div>
                        <blockquote>
                            <p>
                                Far far away, behind the word mountains,
                                far from the countries Vokalia and
                                Consonantia, there live the blind texts.
                                Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a
                                large language ocean.
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!-- END .item -->

                <div class="item">
                    <div class="testimonial-v1">
                        <img src="images/person_2.jpg"
                             alt="Image"
                             class="img-fluid" />
                        <div class="mb-4">
                            <h3>Jenny Wilson</h3>
                            <span class="caption">CEO &amp; Co-Founder</span>
                        </div>
                        <blockquote>
                            <p>
                                Far far away, behind the word mountains,
                                far from the countries Vokalia and
                                Consonantia, there live the blind texts.
                                Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a
                                large language ocean.
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!-- END .item -->

                <div class="item">
                    <div class="testimonial-v1">
                        <img src="images/person_3.jpg"
                             alt="Image"
                             class="img-fluid" />
                        <div class="mb-4">
                            <h3>Dan Anderson</h3>
                            <span class="caption">CEO &amp; Co-Founder</span>
                        </div>
                        <blockquote>
                            <p>
                                Far far away, behind the word mountains,
                                far from the countries Vokalia and
                                Consonantia, there live the blind texts.
                                Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a
                                large language ocean.
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!-- END .item -->

                <div class="item">
                    <div class="testimonial-v1">
                        <img src="images/person_1.jpg"
                             alt="Image"
                             class="img-fluid" />
                        <div class="mb-4">
                            <h3>James Smith</h3>
                            <span class="caption">CEO &amp; Co-Founder</span>
                        </div>
                        <blockquote>
                            <p>
                                Far far away, behind the word mountains,
                                far from the countries Vokalia and
                                Consonantia, there live the blind texts.
                                Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a
                                large language ocean.
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!-- END .item -->
            </div>
        </div>
    </div>
</div>

@* Contact section *@
<div class="untree_co-section" id="contact-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0">
                    <strong>Contact</strong>
                </h2>
                <p class="gsap-reveal-hero">
                    Available for work. Get in touch
                </p>

                <div class="wave gsap-reveal-hero">
                    <svg>
                        <path d="M10,10 L50,100 L90,50"
                              stroke="#0389ff"></path>
                    </svg>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Firstname" />
                        </div>
                        <div class="col-lg-6 form-group">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Lastname" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email address" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <textarea name=""
                                      id=""
                                      cols="30"
                                      rows="7"
                                      class="form-control"
                                      placeholder="Write your message..."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <input type="submit"
                                   class="btn btn-black"
                                   value="Send Message" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d320.12856481718734!2d-73.97263090448001!3d40.78263296621774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588ff21eaaab%3A0xd0128d5d89a30429!2sMargarita%20Anthoine!5e0!3m2!1sen!2sph!4v1597149027268!5m2!1sen!2sph"
                            frameborder="0"
                            style="border: 0"
                            allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        let colorCodedLogo = document.querySelectorAll('.svg-skills-logo');
        colorCodedLogo.forEach((element) => {
            colorCode.call(element)
        });

        function colorCode(){
            let colorHex = this.getAttribute('data-color');
            this.style.color = colorHex;
        };

    </script>
}